

.boasVindas{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.highlight {
    color: #ffffff !important;
    font-weight: bold;
}

.texto {
    color: #aaa;
    font-size: 2.5rem;
    box-sizing: border-box;
    display: inline-block;
}

.animatedText {
    display: inline-block;
    opacity: 0;
    transform: translateY(10px);
    animation: riseIn 0.6s ease-out forwards;
}

@keyframes riseIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.highlight, .highlight * {
    color: #ffffff;
    font-weight: bold;
}

.childrenContainer{
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    animation-delay: 3.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.fadeOut {
    animation: fadeOut 0.5s ease-out forwards;
    animation-delay: 3s;
}


.texto span:nth-child(1) { animation-delay: 0s; }
.texto span:nth-child(2) { animation-delay: 0.05s; }
.texto span:nth-child(3) { animation-delay: 0.1s; }
.texto span:nth-child(4) { animation-delay: 0.15s; }
.texto span:nth-child(5) { animation-delay: 0.2s; }
.texto span:nth-child(6) { animation-delay: 0.25s; }
.texto span:nth-child(7) { animation-delay: 0.3s; }
.texto span:nth-child(8) { animation-delay: 0.35s; }
.texto span:nth-child(9) { animation-delay: 0.4s; }
.texto span:nth-child(10) { animation-delay: 0.45s; }
.texto span:nth-child(11) { animation-delay: 0.5s; }
.texto span:nth-child(12) { animation-delay: 0.55s; }
.texto span:nth-child(13) { animation-delay: 0.6s; }
.texto span:nth-child(14) { animation-delay: 0.65s; }
.texto span:nth-child(15) { animation-delay: 0.7s; }
.texto span:nth-child(16) { animation-delay: 0.75s; }
.texto span:nth-child(17) { animation-delay: 0.8s; }
.texto span:nth-child(18) { animation-delay: 0.85s; }
.texto span:nth-child(19) { animation-delay: 0.9s; }
.texto span:nth-child(20) { animation-delay: 0.95s; }
.texto span:nth-child(21) { animation-delay: 1s; }
.texto span:nth-child(22) { animation-delay: 1.05s; }
.texto span:nth-child(23) { animation-delay: 1.1s; }
.texto span:nth-child(24) { animation-delay: 1.15s; }
.texto span:nth-child(25) { animation-delay: 1.2s; }
.texto span:nth-child(26) { animation-delay: 1.25s; }

