
.section{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    margin-top: 20px;
}

.imageContainer{
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description{
    font-size: 1.2rem;
    line-height: 1.5;
    color: #ccc;
    margin: 10px 0;
    font-weight: 400;
    max-width: 600px;
}


.link{
    width: 125px;
    height: 125px;
    position: absolute;
    top: -2%;
    left: 40%;
}