
.title{
    color: rgb(36, 190, 95);
}

.section{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experiencesGrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}